body{
    font-size: 18px !important;
    font-weight: 300;
    background-color: hsl(226, 43%, 10%) !important;
    color: white !important;
    font-family: "Rubik", sans-serif !important;

}

.p-blue{
    color: hsl(236, 100%, 87%);
    font-size: 13px !important;
    display: flex;
    align-content: center;
}

h1{
     font-size: 56px !important; 
    font-weight: 300 !important;
}

h2{
    font-size: 40px !important; 
    font-weight: 300 !important;
}

p{
    font-size: 18px !important;
}

.grid{
    margin: 15rem;
    margin-left:auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 244px 244px;
    gap: 30px;
    max-height: 520px;
    width:1110px;
}

.work{
    display: flex;
    flex-direction:column;
    border-radius: 8%;
    background-color: hsl(15, 100%, 70%);
    
}

.play{
    display: flex;
    flex-direction:column;
    border-radius: 8%;
    background-color: hsl(195, 74%, 62%);
}

.study{
    display: flex;
    flex-direction:column;
    border-radius: 8%;
    background-color: hsl(348, 100%, 68%);
}

.exercise{
    display: flex;
    flex-direction:column;
    border-radius: 8%;
    background-color: hsl(145, 58%, 55%);
}
.social{
    display: flex;
    flex-direction:column;
    border-radius: 8%;
    background-color: hsl(264, 64%, 52%);
}
.self-care{
    display: flex;
    flex-direction:column;
    border-radius: 8%;
    background-color: hsl(43, 84%, 65%);
}
.blue{
    background-color: hsl(246, 80%, 60%);
    border-radius: 8%;
    height: 65%;
}

.m-card{
    height: 80%;
    width: 100.1%;
}

.m-card:hover{
    background-color: hsl(236, 41%, 34%);
}

.ds-blue{
    color: hsl(235, 45%, 61%);
}

.dark-blue{
    background-color: hsl(235, 46%, 20%);
    border-radius: 8%;
}

.grid-report{
    grid-column: 1;
    grid-row: span 2;
    
}

.grid-work{
    grid-column: 2;
    
}

.grid-play{
    grid-column: 3;
    
}

.grid-study{
    grid-column: 4;
    
}

.grid-exercise{
    grid-column: 2;
    grid-row:  2;
}

.grid-social{
    grid-column: 3;
    grid-row:  2;
}

.grid-care{
    grid-column: 4;
    grid-row:  2;
}

.image{
   display: flex;
    justify-content: end;
  
}

.top{
    display: flex;
    justify-content: end;
    overflow: hidden;
    height: 20%;
}

.cover{
    object-fit: scale-down;
    align-self:end;
    margin-top: -10px;
    padding-right: 20px;
}

.elipses{
    display: flex;
    justify-self: end;
    height: 5px;
    width: 16px;
    margin-top: 10px;
    
}

.elipses:hover{
    filter:brightness(300%);
}

.switch:hover{
    color: white !important;
}

.border{
    border:10px solid;
    border-width: thick;
    border-color: white;
    border-radius: 50px;
}

@media(max-width:800px){
    .grid{
    grid-template-columns: 300px 300px;
    grid-template-rows: 325px 244px 244px 244px ;
    gap: 20px;
    max-width: 600px;
    margin-top: 5rem;
}



.grid-report{
    grid-column: 1/3;
    grid-row: 1;
}

.grid-work{
    grid-column: 1;
    grid-row: 2;
}
.grid-play{
    grid-column: 2;
    grid-row: 2;
}
.grid-study{
    grid-column: 1;
    grid-row: 3;
}
.grid-exercise{
    grid-column: 2;
    grid-row: 3;
}
.grid-social{
    grid-column: 1;
    grid-row: 4;
}
.grid-care{
    grid-column: 2;
    grid-row: 4;
}

.report-change{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
}
}

@media(max-width:575px){
    .grid{
    grid-template-columns: 327px;
    grid-template-rows: 203px 160px 160px 160px 160px 160px 160px;
    gap: 20px;
    margin-left: 30px;
    margin-top: 80px;
    margin-left: auto;
    max-width: 327px;
    margin-bottom: 80px;
}

.grid-report{
    grid-column: 1;
    grid-row: 1;
}

.grid-work{
    grid-column: 1;
    grid-row: 2;
}
.grid-play{
    grid-column: 1;
    grid-row: 3;
}
.grid-study{
    grid-column: 1;
    grid-row: 4;
}
.grid-exercise{
    grid-column: 1;
    grid-row: 5;
}
.grid-social{
    grid-column: 1;
    grid-row: 6;
}
.grid-care{
    grid-column: 1;
    grid-row: 7;
}

h1{
    font-size: 32px !important;
}

h2{
    font-size: 24px !important;
}

.blue{
    background-color: hsl(246, 80%, 60%);
    border-radius: 8%;
    height: 65%;
}

.report-change{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.relative{
    position: relative;
    top: 40px;
    right: -25px;
}

.card-change{
    display: flex;
    justify-content: space-around;
}

.elipses{
    display: flex;
    justify-self: end;
    height: 5px;
    width: 16px;
    margin-top: 10px;
    
}

}